.itenerary__container {
  display: flex;
  flex-direction: row;
}

.itenerary__img {
    padding-left: 10px;
    padding-top: 20px;
    width: 400px;
    height: auto;
}
.itenerary__img img {
    width: 400px;
    object-fit: cover;
    border-radius: 30px;
}

.itenerary__img p {
    font-family: var(--font-fam);

}

.itenerary__img-links {
    display: flex;
    flex-direction: column;
    
}

.itenerary__img-links_contact {
    display: flex;
    flex-direction: column;
}

.itenerary__mail {
    margin-left: 2px;
}
.itenerary__mail, .itenerary__call  {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 12px;
    
}

.itenerary__mail p, .itenerary__call p {
    padding-top: 3px;
    cursor: pointer;
}

.itenerary__mail img, .itenerary__call img {
    width: 40px;
    scale: 0.8;
}


.itenerary__img-links_contact p {
    font-size: 18px;
    color: #127D0D;
    padding-left: 20px;
    margin: 0;
    padding-bottom: 5px;
}
.itenerary__google {
    padding-left: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 300px;
}
.itenerary__google img {
    width: 40px;
    scale: 0.9;
}
.itenerary__google p {
    padding: 0;
    padding-left: 20px;
}

.itenerary__body {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-family: var(--font-fam);
}

.itenerary__body  h1 {
    font-size: 59px;
    margin: 0;
}

.itenerary__body p {
    color: #127D0D;
    font-size: 20px;
    line-height: 21px;
    margin: 0;
}

.itenerary__body-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.itenerary__body-text  img {
    width: 100px;
    height: auto;
}

.itenerary__body-text h3 {
    font-size: 20px;
}
.itenerary__body-days {
    padding-right: 10px;
    padding-top: 10px;
}
.itenerary__body-days p {
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
}
.itenerary__body-cta {
    margin-bottom: 20px;
    margin-top: 10px;
}
.itenerary__body-cta button {
    font-size: 18px;
    margin-right: 10px;

    font-family: var(--font-fam);
    color: white;
    background-color: #127D0D;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}