.package__container {
    display: flex;
    flex-direction: column;
    background: #ffffff;

    font-family: var(--font-fam);

    width: 280px;
    height: 420px;

    border-radius: 20px;
    align-items: center;
}

.package__container:hover {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.package__container-img img {
    width: 280px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.package__container-duration {
    transform: translateY(-40px);
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 50px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
}

.package__container-duration h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.package__container-body {
    display: flex;
    flex-direction: column;
    transform: translateY(-30px);
    padding-left: 10px;
}

.package__container-body h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    transform: translateY(-5px);
}

.package__container-body p {
    font-size: 16px;
    color: #127D0D;
    transform: translateY(-20px);
    line-height:19.2px ;
}

.package__container-body button {
    width: 100px;
    font-family: var(--font-fam);
    border: none;
    color: #ffffff;
    background-color: #127D0D;
    padding: 5px 10px;
    border-radius: 20px;

    transform: translateY(-25px);
}

.package__container-body button:hover {
    background-color:#0F3568;
    cursor: pointer;
}