.mobile__nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  z-index: 10;
}

@media (max-width: 975px) {
  .mobile__nav {
    display: block;
    transform: translateY(35px);
  }
  .mobile__nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #127D0D;
    text-decoration: none;
    padding-top: 20px;
    

    font-size: 16px;
    font-family: var(--font-fam);
  }
}
